
$color-primary-dark:#3b5b7c;
$color-secondary: #252c6a;
$color-error: #cc3333;
$color-success: #4bb544;
$border-radius: 4px;
$ali-centrado: center;
$text-color:#666666;
$font-family:'Open Sans',Arial,sans-serif;
$theme_color_contactos:#39628c; //cores dos titulos e texto para a página dos contactos
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}


/* top menu */
.nav_links{
  z-index: 9;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px #cccfce;
  li{
    margin: 45px 25px;
    font-family: $font-family;
    font-size: 13px;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
    padding-bottom: 10px;
    &:visited{
      color: black;
  }
  &:hover{
      color: $theme_color_contactos;
  }
  &:focus{
    outline: 0; // Remover aquele "border" estranho
  }
}
}
nav ul li:first-child {
margin-right: auto;
position: relative;
bottom: 40px;
}


#who_are_we:hover + #drop_menu{ //Quando fazemos hover no Quem Somos o submenu é exibido| mantém se o mesmo para o media querie
display: block;
}


#drop_menu {
display: none;
position: absolute;
padding-top: 10px;
margin-top: 10px;
min-width: 150px;
background-color: white;
 
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
&:hover{
  display: block;
}
 a{
display: block;
padding-bottom: 10px;
border: 10px white solid;
&:hover{
  color: $theme_color_contactos;
  }
 } 
}

 label#menu_btn{
   margin: 0 40px 0 0;
   font-size: 26px;
   line-height: 70px; // centrado
   display: none;
   width: 26px;
 }


#toggle{
  display: none;
}

@media only screen and(max-width:834px){// menor que 500px
 
  label#menu_btn{
      display: block; //menu aparece
      cursor: pointer;
      position: relative; //Posicionar o "botão" do menu
      left: 20px;
  }
   
  nav{
      background-color: $theme_color_contactos;
  }


  .nav_links{
      position: absolute; //Para o azul do nav ficar com bom aspeto
      height: 525px; //Definir um tamanho para poder aplicar a cor de fundo corretamente
      background-color: white;
      text-align: left;
      display: none;
      border: none; //remover a border para os links aparecerem bonitos
      img{display: none;}//esconder o logo
      a{
          width: 100%;
          display: block; //itens aparecerem em coluna
          margin: 0px;
          border-bottom: solid 1px #cccfce;
          &:hover{
              color: $theme_color_contactos;
          }
      }
  }
  #toggle:checked + .nav_links{ // Para aplicar ao menu
      display: block; //Para o menu aparecer quando carregamos no ícone
  }

    #drop_menu { // Retirar as formatações de cima que transformava este menu numa "caixa"
      display: none; //Não ser mostrado normalmente
      position: static; //reset
      padding-top: 0; //reset
      margin-top: 0; //reset
      min-width: 0; //reset
      box-shadow: none; //reset
         a{ 
          padding-left: 20px;
          padding-top: 35px; //Para ficarem bonitos
          border: none; //reset
          margin: 0px; //reset
          border-bottom: solid 1px #cccfce;
        &:hover{
          color: $theme_color_contactos;
        }
      } 
 }  
 #who_are_we:hover + #drop_menu{ //Quando fazemos hover no Quem Somos o submenu é exibido| mantém se o mesmo para o media querie
  display: none;
  }
}




main{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: $ali-centrado;
    justify-content: $ali-centrado;
    font-size: 18px;
    font-family: $font-family;
}

.container {
    width: 400px;
    max-width: 400px; //para preservar o tamanho
    margin: 1rem; // 1 unit of the base font size
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    background: #ffffff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Open Sans',Arial,sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child { //h1 mais espaço livre
    margin-top: 0;
}

.form > *:last-child { //p
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: $ali-centrado;
    color: $theme_color_contactos;
}

.form__message {
    text-align: $ali-centrado;
    margin-bottom: 1rem;
}

.form__message--success {
    color: $color-success;
}

.form__message--error {
    color: $color-error;
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
}

.form__input:focus {
    border-color: $theme_color_contactos;
    background: #ffffff;
}

.form__input--error { //apenas para js
    color: $color-error;
    border-color: $color-error;
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: $color-error;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: $border-radius;
    outline: none;
    cursor: pointer;
    background: $theme_color_contactos;
    &:hover{
        background: $color-primary-dark;
    }
    &:active{
        transform: scale(0.98); //reduzir o tamanho do butao quando clicado
    }
}


.form__text {
    text-align: $ali-centrado;
}

.form__link {
    color: $color-secondary;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
#linkCreateAccount ,#linkLogin{
    position: relative;
    top: 10px;
}

footer{
    text-align: $ali-centrado;
    position: relative;
    bottom: 20px;
}